- title 'Dashboard'[]
%h2= '{count} latest books in the library'[:x_latest_books_in_library, 5]
.books= render :partial => @books

- content_for :right_column do
  #tag_cloud
    - @tags.sort_by(&:name).each do |tag|
      = tag_link tag, @max_tag_count

  %h2= 'Your loans'[]
  #loans
    - if @loans.size > 0
      .books= render :partial => @loans.collect(&:book)
    - else
      = 'You have no books on loan.'[:no_books_on_loan]
        
- content_for :head do
  = auto_discovery_link_tag(:atom, feed_url)