- title 'Users'[]

%table.list
  %thead
    %tr
      %th= 'Login'[]
      %th= 'Name'[]
      %th= 'Books on loan'[]
  %tbody
  - @users.each do |user|
    %tr
      %td= user.login
      %td= link_to user.name_or_login, user
      %td= user.loans.size