#menu
  .content
    %ul
      %li= link_to 'Dashboard'[], root_path, :class => (controller.controller_name == 'dashboard' ? 'current' : nil)
      %li= link_to 'Books'[], books_path, :class => (controller.controller_name == 'books' ? 'current' : nil)
      %li= link_to 'Authors'[], authors_path, :class => (controller.controller_name == 'authors' ? 'current' : nil)
      %li= link_to 'Publishers'[], publishers_path, :class => (controller.controller_name == 'publishers' ? 'current' : nil)
      %li= link_to 'Loans'[], loans_path, :class => (controller.controller_name == 'loans' ? 'current' : nil)
      %li= link_to 'Users'[], users_path, :class => (controller.controller_name == 'users' ? 'current' : nil)

    %ul.user-menu
      %li
        .notes
          = 'Logged in as'[:logged_in_as]
          %span.logged_in_as= link_to current_user.login, current_user
      %li= link_to 'Log out'[], logout_path, { :title => 'Log out'[] }

    .clear
      %hr