.book
  - unless book.small_image_url.blank?
    .image= link_to image_tag(book.small_image_url), book

  %h2= link_to book.name, book
  
  - if book.authors.size > 0
    %span.authors
      by
      %span= book.author_names
      
  - unless book.published.blank?
    %span.published
      %label Published:
      = book.published
      
  - unless book.pages.blank?
    %span.pages
      %label Pages:
      = book.pages

  .clear
    %hr