.book
  .image
    - unless book.small_image_id.blank?
      = link_to book.small_image.image_tag, book
    - else
      = link_to image_tag('no_cover.png', :alt => 'No cover image available'[:no_cover]), book

  .meta
    %h3= link_to book.name, book
  
    - if book.authors.size > 0
      %span.authors
        = 'by'[]
        %span= author_names(book.authors)
    
    - if book.current_loan.blank?
      = 'Available'[] + ','
    - else
      = 'Out'[] + ','
      
    - unless book.published.blank?
      %span.published
        %label= 'Published'[] + ':'
        = book.published
      
    - unless book.pages.blank?
      %span.pages
        %label= 'Pages'[] + ':'
        = book.pages

  .clear
    %hr