.book
  - if_authorized?(:create, Loan) do
    .loan
      - if book.current_loan.blank? || book.current_loan.user_id != current_user.id
        = link_to 'Borrow', book_loans_path(book), :method => :post
      - else
        = link_to 'Return', loan_path(book.current_loan), :method => :delete

  - unless book.small_image_id.blank?
    .image= link_to book.small_image.image_tag, book

  %h3= link_to book.name, book
  
  - if book.authors.size > 0
    %span.authors
      by
      %span= author_names(book.authors)
      
  - unless book.published.blank?
    %span.published
      %label Published:
      = book.published
      
  - unless book.pages.blank?
    %span.pages
      %label Pages:
      = book.pages

  .clear
    %hr