= error_messages_for :book
- form_for book do |f|
  .field
    = f.label :name, 'Title'[]
    = f.text_field :name

  .field
    = f.label :isbn, 'ISBN'[]
    = f.text_field :isbn

  .field
    = f.label :pages, 'Pages'[]
    = f.text_field :pages, :class => 'small'

  .field
    = f.label :published, 'Published'[]
    = f.date_select :published
  
  .field
    = f.label :tag_list, 'Tags'[]
    = f.text_field :tag_list
    .notes= 'Comma-separated list of tags.'[]

  = submit_tag book.new_record? ? 'Add'[] : 'Update'[]