- if params[:tag].blank?
  - title 'All books'[]
- else
  - title 'Books tagged with {tag}'[:books_with_tag, params[:tag]]

- javascript 'endless_book_page'
#books.books= render :partial => @books

- if params[:tag].blank?
  %p#loading= 'Loading more books...'[:loading_more_books]
- else
  %script{ :type => 'text/javascript' }
    = "var dontCheckScroll = true;"

- if current_user.admin?
  - content_for :sidebar do
    - form_for @book do |f|
      .field
        = f.label :isbn, 'ISBN'[]
        = f.text_field :isbn, :class => 'medium'
        .note= "Leave empty if you don't know the ISBN."[:leave_empty_on_unknown_isbn]
    
      = submit_tag 'Add book'[], :disable_with => 'Adding'[] + '&hellip;'