- title @book.name
#book
  %h3= @book.name
  .authors
    by
    %span= @book.author_names
    
  - if @book.current_loan
    .borrowed_by
      %label Borrowed by:
      = @book.current_loan.user.login
  
  .isbn-10
    %label ISBN-10:
    = @book.isbn_10

  .isbn-13
    %label ISBN-13:
    = @book.isbn_13
  
  - unless @book.published.blank?
    .published
      %label Published:
      = @book.published
  
  - unless @book.pages.blank?
    .pages
      %label Pages:
      = @book.pages
      
  .added
    %label Added:
    = @book.created_at.to_date
    
- if @book.large_image_id
  - content_for :sidebar do
    .cover= link_to @book.medium_image.image_tag, @book.amazon_detail_page_url, :target => '_blank'