- title @book.name
#book
  - if_authorized?(:edit, Book) do
    .edit_link= link_to 'Edit'[], edit_book_path(@book)
    - unless @book.notification_sent?
      .notify_link= link_to 'Send "new book" notification'[:send_new_book_notification], notify_book_path(@book), :method => :post

  %h3= @book.name
  .authors
    = 'by'[]
    %span= author_names(@book.authors)
    
  - if @book.current_loan
    .borrowed_by
      %label= 'Borrowed by'[] + ':'
      = @book.current_loan.user.login + ','
      = days_ago(@book.current_loan.check_out)
  
  - unless @book.publisher_id.blank? || @book.publisher.blank?
    .publisher
      %label= 'Publisher'[] + ':'
      = link_to @book.publisher.name, @book.publisher
  
  - unless @book.isbn.blank?
    .isbn-10
      %label= 'ISBN-10'[] + ':'
      = @book.isbn_10

    .isbn-13
      %label= 'ISBN-13'[] + ':'
      = @book.isbn_13
  
  - unless @book.published.blank?
    .published
      %label= 'Published'[] + ':'
      = @book.published
  
  - unless @book.pages.blank?
    .pages
      %label= 'Pages'[] + ':'
      = @book.pages
      
  .added
    %label= 'Added to library'[] + ':'
    = @book.created_at.to_date

  - unless @book.amazon_detail_page_url.blank?
    .amazon
      = link_to 'Amazon'[], @book.amazon_detail_page_url, :target => '_blank'
  
  - if @loans.size > 0
    .loans
      %h2= 'Who borrowed this book in the past?'[:who_borrowed_this_book]
      %table.list
        %thead
          %tr
            %th= 'User'[]
            %th= 'Check out'[]
            %th= 'Check in'[]
        %tbody
        - @loans.each do |loan|
          %tr
            %td= loan.user.login
            %td= loan.check_out.to_date
            %td= loan.check_in.blank? ? 'Not checked in'[] : loan.check_in.to_date

  - content_for :sidebar do
    - if logged_in?
      .loan
        - if @book.current_loan.blank? || @book.current_loan.user_id != current_user.id
          = link_to 'Borrow'[], book_loans_path(@book), :method => :post
        - else
          = link_to 'Return'[], loan_path(@book.current_loan), :method => :delete

    - if @book.large_image_id
      .cover= @book.medium_image.image_tag