- title "Search for '{keywords}'"[:search_for_keywords, @search.keywords]

- if @books.size > 0
  %h2
    = 'Books ({results} results)'[:book_results, @books.size]
  #books= render :partial => @books
  
- if @authors.size > 0
  %h2
    = 'Authors ({results} results)'[:author_results, @authors.size]
  #authors= render :partial => @authors
  
- if @books.size + @authors.size == 0
  #no_results= 'The search yielded no results.'[:no_results]