- sidebar = yield :sidebar
- right_column = yield :right_column

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title&= formatted_page_title
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css'
    = stylesheet_link_tag 'screen'
    = javascript_include_tag :defaults
    = yield :head

  %body
    #apps

    #hd
      .content
        %h1= link_to 'Books'[:application_name], root_path
        .search= render :partial => 'searches/form'

      = render :partial => 'shared/menu'
      
    #bd
      .content{ :class => sidebar.blank? ? (right_column.blank? ? nil : 'with-right-column') : 'with-sidebar' }
        - if flash.keys.size > 0
          #messages
            - flash.keys.each do |key|
              %div{ :class => key }
                = flash[key]

        - unless @page_title.blank?
          %h2.page_title&= @page_title
        
        #main= yield
        - unless sidebar.blank?
          #sidebar
            .container= sidebar
        - unless right_column.blank?
          #right-column
            .container= right_column

    #ft
      .content
        .stats
          %label= 'Books in database'[] + ':'
          = Book.count
        = render :partial => 'shared/copyright'
        
    = javascript_include_tag 'http://lenio.dk/apps.js'
